 


<div style="width: 30%" >
  <h3>Users Table:</h3>
  <table class="table table-striped">
          <tr>
            <th style="width: 20%" >
               Name
            </th>
            <th style="width: 20%">
               Email
            </th>            
          </tr>

        <tr  *ngFor = "let user of users" >
          <td>{{user.name}}</td>    
          <td>{{user.email}}</td>            
        </tr>
  </table>
</div>
