<h1>
  {{title}}
</h1>
<nav>
  <a routerLink='/users'>Users</a>  <!--> '/users' is the end of url </!-->| 
  <a routerLink='/posts'>Posts</a>
</nav> <br>
<router-outlet></router-outlet>
<!--<jce-users></jce-users>-->
<!--<app-posts></app-posts>-->
