<span *ngIf = "!isEdit"> <!--> User Id: {{post.userId}} <br> Id: {{post.id}} <br></!--> Title: {{post.title}} <br> Body: {{post.body}} </span>
<span *ngIf = "isEdit"> 
     Title: <input type ="text" [(ngModel)] ="post.title"> 
     Body: <input type="text" [(ngModel)] ="post.body">  
</span>


<button (click) = "toggleEdit()"> {{editButtonText}} </button>
<button (click) = "sendDelete()"> Delete </button>
