<h2>Add Post</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm"> <!--> f is local variable that goes to onSubmit function at user-form.component.ts, ngForm is the data that goes to onSubmit </!-->
   <!-->
   <div class="form-group">
    <label for="userId">User Id</label>
    <input type="text"
            class="form-control"
            id="userId"
            name="userId"
            [(ngModel)] = "post.userId">      
  </div>
    <div class="form-group">
    <label for="id">Id</label>
    <input type="text"
            class="form-control"
            id="id"
            name="id"
            [(ngModel)] = "post.id">      
  </div>
  </!-->
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
            class="form-control"
            id="title"
            name="title"
            [(ngModel)] = "post.title">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <input type="text"
            class="form-control"
            id="body"
            name="body"
            [(ngModel)] = "post.body">      
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button> 
</form>