<app-user-form (postAddEvent)="addPost($event)"></app-user-form> <!--> addPost function implamet at posts.component.ts </!-->
 <app-spinner [visible] = "isLoading"> </app-spinner>
 <div>
   <h3>Posts List:</h3>
   <h5><b>Click On The Chosen Row</b></h5>
   <br>
   <ul class="list-group users">     
         <li class="list-group-item" *ngFor = "let post of posts" 
           [class.active]="currentPost == post"
           (click)="select(post)" >  
            <app-post [post] = "post" (deleteEvent) = "deletePost($event)" 
                                      (editEvent) = "updatePost($event)" > </app-post>  <!--> html atributes will be fedined as [attribute]. 
                       [post] goes to son via inputs [post]?  </!-->        
          <ul>
            <li *ngFor = "let name of post.userName">
              {{(name | async)?.name}}
            </li>
          </ul>
        </li>
   </ul>
 </div>
